# Logs
venv
__pycache__
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
backend/target
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.turbo

# Database
backend/data/testdb.mv.db
backend/control/target
backend/model/target
backend/repository/target
backend/view/target

*.aux
*.synctex.gz